* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

$themelightorange: rgb(255, 212, 152);

::-webkit-scrollbar {
    display: none;
}

html {
    font-size: 18px;
}

body {
    font-family: sans-serif;
    width: 100%;
}


nav {
    padding: 1.87em 4.375em 1.87em 5em;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .sitelogo {
        width: 4.375em;
    }

    ul {
        font-weight: bold;
        font-size: 0.82rem;
        display: flex;
        align-items: center;
        list-style-type: none;

        li {
            cursor: pointer;
            white-space: nowrap;
            margin: 0 1.375rem;

            a {
                white-space: nowrap;
                text-decoration: none;
                padding: 0.875rem 1.6875rem;
                background-color: $themelightorange;
                border-radius: 0.75rem;
                color: black;
            }
        }
    }

    .arrow {
        width: 5.3125em;
        position: relative;
        left: 50.5em;
        top: 3.125em;
    }

}

.firstsection {
    padding: 0em 0.625em 0.625em 5em;
    display: flex;
    justify-content: space-between;

    .pageDescription {
        padding: 5.625em 0em;

        img {
            position: relative;
            top: 0.9375em;
            width: 1.875em;
        }

        h1 {
            
            font-size: 2.6em;
            width: 26.875rem;
            margin-bottom: 1.5625rem;
            font-weight: 900;
        }

        p {
            font-size: 0.9em;
            font-weight: bold;
            color: rgb(90, 90, 90);
            width: 25rem;
            margin-bottom: 1.5625rem;
        }

        .appStoreLinks {
            img {
                cursor: pointer;
                width: 9.375em;
                margin-right: 0.625em;
            }
        }
    }

    .meditationPhoto {
        width: 55%;
    }
}

.secondSection {
    display: flex;
    padding: 3.125em 5em 1.875em 5em;
    justify-content: flex-start;
    align-items: center;

    img {
        width: 50%;
    }

    div {
        width: 22em;
        margin: 0 5.625em;
        img {
            width: 1.6875em;
            position: relative;
            top: 4.0625em;
            left: 20em;
        }
        h1 {
            font-size: 2.2em;
            margin-bottom: 1.5625rem;
            font-weight: 900;
        }

        p {
            font-weight: bold;
            color: rgb(90, 90, 90);
            font-size: 0.9em;
            margin-bottom: 1.5625rem;
        }

        a {
            font-size: 0.9em;
            white-space: nowrap;
            text-decoration: none;
            padding: 1.25rem 3.75rem;
            background-color: rgb(245, 123, 81);
            border-radius: 0.75rem;
            color: white;
            font-weight: bold;
        }
    }
}

.thirdSection {
    // height: 358px;
    // margin-bottom: 150px;
    padding: 5em 5em 0 5em;
    .peacephoto {
        width: 100%;
        // padding: 80px;
    }

    .secondSectionDescription {
        width: 22.9375em;
        position: relative;
        bottom: 22.4375em;
        left: 50%;

        h1 {
            font-weight: 700;
            font-size: 2.0em;
            color: white;
        }

        p {
            font-weight: bold;
            color: rgb(247, 247, 247);
            font-size: 0.8em;
            margin-top: 0.625rem;
        }

        .appStoreLinks2 {
            margin-top: 1.875em;
            display: flex;

            img {
                cursor: pointer;
                width: 7.5em;
                margin-right: 0.625em;
            }
        }
    }
}

footer {
    // position: relative;
    // top: 200px;
    padding: 0 5em 3.75em 5em;
    display: flex;
    justify-content: space-between;

    .footerItem1 {
        margin-right: .5em;
        img {
            width: 4.375em;
            margin-bottom: 0.625em;
        }

        h4 {
            font-size: 0.8em;
            font-weight: 800;
        }

        p {
            font-size: 0.74em;
            font-weight: bold;
            color: rgb(90, 90, 90);
            margin-bottom: 1.25rem;
        }

    }

    .footerItem234 {
        margin-right: .5em;
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 1.25em 0;

        h4 {
            margin-bottom: 1.25rem;
            font-size: 0.89em;
            font-weight: bold;
        }

        p {
            font-size: 0.74em;
            font-weight: bold;
            color: rgb(90, 90, 90);
            margin-bottom: 1.25rem;
            line-height: 1.6rem;
        }

        a {
            text-decoration: none;
            color: rgb(90, 90, 90);
            font-size: 0.8em;
            font-weight: bold;
            margin-bottom: 0.625rem;

        }

        form {
            display: flex;
            align-items: center;

            input {
                font-size: 0.76em;
                cursor: pointer;
                height: 2.0125rem;
                border-radius: 0.75rem;
                border: none;
                background-color: rgb(255, 244, 230);
                width: 15.625rem;
                padding-left: 1.25rem;

            }

            button {
                font-size: 0.76em;
                cursor: pointer;
                border: none;
                background-color: rgb(255, 212, 152);
                height: 2.0125rem;
                font-weight: bold;
                border-radius: 0.75rem;
                width: 6.875rem;
                position: relative;
                right: 1.875rem;
                padding-bottom: 0.05625rem;
            }
        }

        div {
            margin-top: 1.25em;

            img {
                height: 1.5625em;
                margin-right: 2em;
                cursor: pointer;
            }
        }

    }
}

::placeholder {
    font-weight: bold;
    font-size: 0.76rem;
}