* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

$themelightorange: rgb(255,212,152);

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: sans-serif;
    width: 1080px;
}


nav {
    padding: 30px 70px 30px 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .sitelogo {
        width: 80px;
    }
    ul {
        font-weight: bold;
        font-size: 0.82em;
        display: flex;
        align-items: center;
        list-style-type: none;
        li {
            cursor: pointer;            
            white-space: nowrap;
            margin: 0 22px;
            a {
                white-space: nowrap;
                text-decoration: none;
                padding: 14px 27px;
                background-color: $themelightorange;
                border-radius: 12px;
                color: black;
            }
        }
    }
    .arrow {
        width: 85px;
        position: relative;
        left: 730px;
        top: 55px;
    }

}

.firstsection {
    padding: 0px 10px 10px 80px;
    display: flex;
    justify-content: space-between;
    .pageDescription {
        padding: 90px 0px;
        img {
            position: relative;
            top: 15px;
            width: 30px;
        }
        h1 {
            margin-bottom: 25px;;
            font-weight: 900;
            font-size: 2.6em;
            width: 430px;
        }
        p{
            font-weight: bold;
            color: rgb(90, 90, 90);
            width: 400px;
            font-size: 0.9em;
            margin-bottom: 25px;
        }
        .appStoreLinks {
            img {
                cursor: pointer;
                width: 150px;
                margin-right: 10px;
            }
        }
    }
    .meditationPhoto {
        width: 55%;
    }
}

.secondSection {
    height: 358px;
    .peacephoto {
        width: 100%;
        padding: 80px;
    }
    .secondSectionDescription {
        width: 367px;
        position: relative;
        bottom: 99%;
        left: 50%;
        
        h1 {
            font-weight: 700;
            font-size: 2.0em;
            color:white;
        }
        p {
            font-weight: bold;
            color:rgb(247, 247, 247);
            font-size: 0.8em;
            margin-top: 10px;
        }
        .appStoreLinks2 {
            margin-top: 30px;
            display: flex;
            img {
                cursor: pointer;
                width: 120px;
                margin-right: 10px;
            }
        }
    }
}