* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
}

$themelightorange: rgb(255, 212, 152);

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: sans-serif;
    width: 1080px;
}


nav {
    padding: 30px 70px 30px 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .sitelogo {
        width: 70px;
    }

    ul {
        font-weight: bold;
        font-size: 0.82em;
        display: flex;
        align-items: center;
        list-style-type: none;

        li {
            cursor: pointer;
            white-space: nowrap;
            margin: 0 22px;

            a {
                white-space: nowrap;
                text-decoration: none;
                padding: 14px 27px;
                background-color: $themelightorange;
                border-radius: 12px;
                color: black;
            }
        }
    }

    .arrow {
        width: 85px;
        position: relative;
        left: 676px;
        top: 50px;
    }

}

.firstsection {
    padding: 0px 10px 10px 80px;
    display: flex;
    justify-content: space-between;

    .pageDescription {
        padding: 90px 0px;

        img {
            position: relative;
            top: 15px;
            width: 30px;
        }

        h1 {
            margin-bottom: 25px;
            ;
            font-weight: 900;
            font-size: 2.6em;
            width: 430px;
        }

        p {
            font-weight: bold;
            color: rgb(90, 90, 90);
            width: 400px;
            font-size: 0.9em;
            margin-bottom: 25px;
        }

        .appStoreLinks {
            img {
                cursor: pointer;
                width: 150px;
                margin-right: 10px;
            }
        }
    }

    .meditationPhoto {
        width: 55%;
    }
}

.newSection {
    display: flex;
    padding: 50px 80px 30px 80px;
    justify-content: space-between;
    align-items: center;

    img {
        width: 50%;
    }

    div {
        width: 352px;
        img {
            width: 27px;
            position: relative;
            top: 65px;
            left: 320px;
        }
        h1 {
            margin-bottom: 25px;
            font-weight: 900;
            font-size: 2.2em;
        }

        p {
            font-weight: bold;
            color: rgb(90, 90, 90);
            font-size: 0.9em;
            margin-bottom: 40px;
        }

        a {
            white-space: nowrap;
            text-decoration: none;
            padding: 20px 60px;
            background-color: rgb(245, 123, 81);
            border-radius: 12px;
            color: white;
            font-weight: bold;
            font-size: 0.9em;
        }
    }
}

.secondSection {
    height: 358px;
    margin-bottom: 150px;

    .peacephoto {
        width: 100%;
        padding: 80px;
    }

    .secondSectionDescription {
        width: 367px;
        position: relative;
        bottom: 99%;
        left: 50%;

        h1 {
            font-weight: 700;
            font-size: 2.0em;
            color: white;
        }

        p {
            font-weight: bold;
            color: rgb(247, 247, 247);
            font-size: 0.8em;
            margin-top: 10px;
        }

        .appStoreLinks2 {
            margin-top: 30px;
            display: flex;

            img {
                cursor: pointer;
                width: 120px;
                margin-right: 10px;
            }
        }
    }
}

footer {
    padding: 60px 80px;
    display: flex;
    justify-content: space-between;

    .footerItem1 {
        img {
            width: 70px;
            margin-bottom: 10px;
        }

        h4 {
            font-size: 0.8em;
            font-weight: 800;
        }

        p {
            font-size: 0.74em;
            font-weight: bold;
            color: rgb(90, 90, 90);
            margin-bottom: 20px;
        }

    }

    .footerItem234 {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 20px 0;

        h4 {
            margin-bottom: 20px;
            font-size: 0.89em;
            font-weight: bold;
        }

        p {
            font-size: 0.74em;
            font-weight: bold;
            color: rgb(90, 90, 90);
            margin-bottom: 20px;
            line-height: 1.6em;
        }

        a {
            text-decoration: none;
            color: rgb(90, 90, 90);
            font-size: 0.8em;
            font-weight: bold;
            margin-bottom: 10px;

        }

        form {
            display: flex;
            align-items: center;

            input {
                cursor: pointer;
                height: 32.5px;
                border-radius: 12px;
                border: none;
                background-color: rgb(255, 244, 230);
                width: 250px;
                padding-left: 20px;

            }

            button {
                cursor: pointer;
                border: none;
                background-color: rgb(255, 212, 152);
                height: 32.2px;
                font-weight: bold;
                border-radius: 12px;
                width: 110px;
                font-size: 0.76em;
                position: relative;
                right: 30px;
                padding-bottom: 0.9px;
            }
        }

        div {
            margin-top: 20px;

            img {
                height: 25px;
                margin-right: 32px;
                cursor: pointer;
            }
        }

    }
}

::placeholder {
    font-weight: bold;
    font-size: 0.78em;
}