* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 18px;
}

body {
  font-family: sans-serif;
  width: 100%;
}

nav {
  padding: 1.87em 4.375em 1.87em 5em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .sitelogo {
  width: 4.375em;
}

nav ul {
  font-weight: bold;
  font-size: 0.82rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

nav ul li {
  cursor: pointer;
  white-space: nowrap;
  margin: 0 1.375rem;
}

nav ul li a {
  white-space: nowrap;
  text-decoration: none;
  padding: 0.875rem 1.6875rem;
  background-color: #ffd498;
  border-radius: 0.75rem;
  color: black;
}

nav .arrow {
  width: 5.3125em;
  position: relative;
  left: 50.5em;
  top: 3.125em;
}

.firstsection {
  padding: 0em 0.625em 0.625em 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.firstsection .pageDescription {
  padding: 5.625em 0em;
}

.firstsection .pageDescription img {
  position: relative;
  top: 0.9375em;
  width: 1.875em;
}

.firstsection .pageDescription h1 {
  font-size: 2.6em;
  width: 26.875rem;
  margin-bottom: 1.5625rem;
  font-weight: 900;
}

.firstsection .pageDescription p {
  font-size: 0.9em;
  font-weight: bold;
  color: #5a5a5a;
  width: 25rem;
  margin-bottom: 1.5625rem;
}

.firstsection .pageDescription .appStoreLinks img {
  cursor: pointer;
  width: 9.375em;
  margin-right: 0.625em;
}

.firstsection .meditationPhoto {
  width: 55%;
}

.secondSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3.125em 5em 1.875em 5em;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.secondSection img {
  width: 50%;
}

.secondSection div {
  width: 22em;
  margin: 0 5.625em;
}

.secondSection div img {
  width: 1.6875em;
  position: relative;
  top: 4.0625em;
  left: 20em;
}

.secondSection div h1 {
  font-size: 2.2em;
  margin-bottom: 1.5625rem;
  font-weight: 900;
}

.secondSection div p {
  font-weight: bold;
  color: #5a5a5a;
  font-size: 0.9em;
  margin-bottom: 1.5625rem;
}

.secondSection div a {
  font-size: 0.9em;
  white-space: nowrap;
  text-decoration: none;
  padding: 1.25rem 3.75rem;
  background-color: #f57b51;
  border-radius: 0.75rem;
  color: white;
  font-weight: bold;
}

.thirdSection {
  padding: 5em 5em 0 5em;
}

.thirdSection .peacephoto {
  width: 100%;
}

.thirdSection .secondSectionDescription {
  width: 22.9375em;
  position: relative;
  bottom: 22.4375em;
  left: 50%;
}

.thirdSection .secondSectionDescription h1 {
  font-weight: 700;
  font-size: 2.0em;
  color: white;
}

.thirdSection .secondSectionDescription p {
  font-weight: bold;
  color: #f7f7f7;
  font-size: 0.8em;
  margin-top: 0.625rem;
}

.thirdSection .secondSectionDescription .appStoreLinks2 {
  margin-top: 1.875em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.thirdSection .secondSectionDescription .appStoreLinks2 img {
  cursor: pointer;
  width: 7.5em;
  margin-right: 0.625em;
}

footer {
  padding: 0 5em 3.75em 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footerItem1 {
  margin-right: .5em;
}

footer .footerItem1 img {
  width: 4.375em;
  margin-bottom: 0.625em;
}

footer .footerItem1 h4 {
  font-size: 0.8em;
  font-weight: 800;
}

footer .footerItem1 p {
  font-size: 0.74em;
  font-weight: bold;
  color: #5a5a5a;
  margin-bottom: 1.25rem;
}

footer .footerItem234 {
  margin-right: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding: 1.25em 0;
}

footer .footerItem234 h4 {
  margin-bottom: 1.25rem;
  font-size: 0.89em;
  font-weight: bold;
}

footer .footerItem234 p {
  font-size: 0.74em;
  font-weight: bold;
  color: #5a5a5a;
  margin-bottom: 1.25rem;
  line-height: 1.6rem;
}

footer .footerItem234 a {
  text-decoration: none;
  color: #5a5a5a;
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 0.625rem;
}

footer .footerItem234 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footerItem234 form input {
  font-size: 0.76em;
  cursor: pointer;
  height: 2.0125rem;
  border-radius: 0.75rem;
  border: none;
  background-color: #fff4e6;
  width: 15.625rem;
  padding-left: 1.25rem;
}

footer .footerItem234 form button {
  font-size: 0.76em;
  cursor: pointer;
  border: none;
  background-color: #ffd498;
  height: 2.0125rem;
  font-weight: bold;
  border-radius: 0.75rem;
  width: 6.875rem;
  position: relative;
  right: 1.875rem;
  padding-bottom: 0.05625rem;
}

footer .footerItem234 div {
  margin-top: 1.25em;
}

footer .footerItem234 div img {
  height: 1.5625em;
  margin-right: 2em;
  cursor: pointer;
}

::-webkit-input-placeholder {
  font-weight: bold;
  font-size: 0.76rem;
}

:-ms-input-placeholder {
  font-weight: bold;
  font-size: 0.76rem;
}

::-ms-input-placeholder {
  font-weight: bold;
  font-size: 0.76rem;
}

::placeholder {
  font-weight: bold;
  font-size: 0.76rem;
}
/*# sourceMappingURL=index.css.map */